
div{
    display: flexbox;
    padding-top: 7%;
    padding: .75%;
    justify-content: space-between;
    
}


button{
    display: flexbox;
   
    border-radius: 12px;
    
    cursor: pointer;
    padding: 1%;
    
    background-color: white;

}
