
div{
    display: flexbox;
    padding-top: 7%;
    padding: .75%;
    justify-content: space-between;
    
}


button{
    display: flexbox;
    background-color: olivedrab;
    border-radius: 10px;
    cursor: pointer;
    padding: 1%;
    
}