FaRegHeart{
    color:red;
    background-color: red;
}

.meal-container{
    display: flex;
    flex-direction: row;
    border-width: 20px;
    border-color: black;
    border-radius: 2%;
    padding-left: 2%;
    
}

.meal-name{
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    text-align: left;
}