FaRegHeart{
    color:red;
    background-color: red;
}

.meal-container{
    display: flex;
    flex-direction: column;
    padding: .2%;
    width: 30%;
}

#scrambledEggBriocheImg{
    border-radius: 3%;
}