


.meal-container{
    display: flex;
    flex-direction: row;
    border-collapse: separate; 
    padding-left: 2%;
    padding:0.5%

}


.meal-name{
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    text-align: left;
    
  
}
:root{
    --fa-primary-color: green;
}

.heart{
    color:red
}

#regheart:hover{
    cursor: pointer;
}