

.nav-menu{
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left:10%;
    margin-right:10%;
    padding:2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}