

#nav-container{
   
    position: -webkit-sticky;
        position: sticky;
        top: -5px;
        z-index: 2;
        height: 70px;
        min-height: 70px;    
        background-color: white; 
}
.nav-menu{
   
    margin-top: 0%;
   margin-bottom: 0%;
    margin-right:5%;
    padding-left:2%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}


button{
    border-radius: 0px;
    padding: 10%;
}

.heart{
    color:red
}