.App {
  text-align: center;
  padding: 0px;
 font-family: Arial, Helvetica, sans-serif;
}

.error{
  padding: 10px;
background: #ffefef;
border: 1px solid #e7195a;
color:#e7195a;
border-radius: 4px;
margin: auto;
width: 10%;
}

button{
  background-color: lightgrey;
}
button:hover {
  background-color: grey; /* Darker shade on hover */
}

.Navbar{
  position: fixed; /* Make it stick/fixed */
  top: -50px; /* Hide the navbar 50 px outside of the top view */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  background-color:  black;
}